$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

@import 'vendors/bootstrap';

@import 'abstract/variables';
@import 'base/normalize';
@import 'components/button';
@import 'layout/header';
@import 'layout/cuerpo';
@import 'layout/footer';
@import 'pages/contacto';
@import 'pages/equipomedico';
@import 'pages/home';
@import 'themes/default';


// Estoy modificando cosas del bootstrap para que queden acorde a mi pag
$primary: #0e48be;
$btn-padding-y: 1.5rem;








