.main-content{
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;

}


.top {
    grid-area: top;  // Asignar el área 'top' al h2
}

.team {
    grid-area: team;
}

.subheader {
    grid-area: subheader;  // Asignar el área 'subheader' al h3
}

.leftt {
    grid-area: leftt;
}

.point {
    grid-area: point;
}

.rightt {
    grid-area: rightt;
}

.lastright {
    grid-area: lastright;
}

.hero__title{

    position: relative;
    top: 10px;
    left: 5px;
}

