.header{
    background-color:rgb(15, 63, 101);
    padding: 20px;
    font-family: 'Raleway';
    
    &__title{
    color:rgb(255, 255, 255);
    font-size: 2rem;
    
    }
    
    .nav__list{
        display: flex;
        justify-content: space-around;
    
    }
    
    .nav__item{
    list-style: none;
    
    
    }
    
    .nav__link{
        color:antiquewhite;
        text-decoration: none;
    
    }
    }
    
    .dark-theme{
        background-color: black;
        color :brown
    }
    
    
    
    
    